@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@tailwind base;
.tooltip {
	@apply invisible absolute;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50;
}
@tailwind components;
@tailwind utilities;

/* @layer base {
	body {
		@apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
	}
} */

@font-face {
	font-family: "Cascadia Code";
	src: url("../public/CascadiaCode.woff2") format("woff2");
}

body {
	font-family: "Cascadia Code";
	/* background-color: #1a1a1a; */
	overflow-x: hidden;
}

.default-transition {
	@apply transition ease-in duration-150;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
button {
	font-family: "Poppins";
}

.fot svg {
	display: inline;
	margin-bottom: 6px;
	font-size: 1.2rem;
}

/* .feat-img {
	margin-left: -2rem;
} */

.intro::after {
	content: "";
	height: 400px;
	width: 400px;
	position: absolute;
	border-radius: 50%;
	top: -4rem;
	right: 0;
	background-color: #f59e0b;
	opacity: 0.03;
}

.intro::before {
	content: "";
	height: 400px;
	width: 400px;
	position: absolute;
	border-radius: 50%;
	top: -4rem;
	right: -2rem;
	background-color: #c4c4c4;
	opacity: 0.03;
}
.featured-content {
	position: relative;
}
.featured-content::after {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -12%;
	background-color: #f59e0b;
	opacity: 0.03;
	transform: rotateZ(24deg);
}

.featured-content::before {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -16%;
	background-color: #c4c4c4;
	opacity: 0.03;
	transform: rotateZ(24deg);
}

.featured-img::after {
	content: "";
	height: 100%;
	width: 94%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1rem;
	background-color: #f59e0b;
	opacity: 0.13;
}
