@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

@tailwind base;
.tooltip {
	@apply invisible absolute;
}

.has-tooltip:hover .tooltip {
	@apply visible z-50;
}
@tailwind components;
@tailwind utilities;

/* @layer base {
	body {
		@apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white;
	}
} */
section {
	@apply mb-36;
}
/* @font-face {
	font-family: "Zilla Slab";
	src: url("../public/CascadiaCode.woff2") format("woff2");
} */

body {
	font-family: "Cascadia Code";
	/* background-color: #1a1a1a; */
	overflow-x: hidden;
}

.default-transition {
	@apply transition ease-in duration-150;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
button {
	font-family: "Nunito";
}

.fot svg {
	display: inline;
	margin-bottom: 6px;
	font-size: 1.2rem;
}

/* .feat-img {
	margin-left: -2rem;
} */

.dark .intro::after {
	content: "";
	height: 400px;
	width: 500px;
	position: absolute;
	border-radius: 400px;
	top: -4rem;
	right: 0;
	background-color: #34d399;
	opacity: 0.03;
	transform: rotateZ(-24deg);
}

.dark .intro::before {
	content: "";
	height: 400px;
	width: 500px;
	position: absolute;
	border-radius: 400px;
	top: -4rem;
	right: -2rem;
	/* background-color: #c4c4c4; */
	border: 3px solid #34d399;
	opacity: 0.3;
	transform: rotateZ(24deg);
}

.intro::after {
	content: "";
	height: 400px;
	width: 500px;
	position: absolute;
	border-radius: 400px;
	top: -4rem;
	right: 0;
	background-color: #34d399;
	opacity: 0.2;
	transform: rotateZ(-24deg);
	z-index: -1;
}

.intro::before {
	content: "";
	height: 400px;
	width: 500px;
	position: absolute;
	border-radius: 400px;
	top: -4rem;
	right: -2rem;
	/* background-color: #c4c4c4; */
	border: 3px solid #34d399;
	opacity: 0.8;
	transform: rotateZ(24deg);
	z-index: -1;
}
.featured-content {
	position: relative;
}

.dark .featured-content::after {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -12%;
	/* background-color: #f59e0b; */
	border: 2px solid #34d399;
	opacity: 0.05;
	transform: rotateZ(10deg);
}

.dark .featured-content::before {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -16%;
	/* background-color: #c4c4c4; */
	border: 3px solid #3cecac;
	opacity: 0.4;
	transform: rotateZ(14deg);
}

.featured-content::after {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -12%;
	background: #f59e0b;
	background: linear-gradient(#34d399, #34d399);
	/* border: 2px solid #f59e0b; */
	opacity: 0.3;
	transform: rotateZ(10deg);
	z-index: -1;
}

.featured-content::before {
	content: "";
	height: 200%;
	width: 150%;
	position: absolute;
	border-radius: 300px;
	top: -40%;
	right: -16%;
	/* background-color: #c4c4c4; */
	border: 3px solid #34d399;
	opacity: 0.8;
	transform: rotateZ(14deg);
	z-index: -1;
}

.featured-img-container::after {
	/* content: "";
	height: ;
	width: 94%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 1rem;
	background-color: #34d399;
	opacity: 0.03; */
}

.featured-img-container {
	width: 94%;
	/* height: 100%; */
}
